In [6]:
import pandas as pd

In [7]:
def to_merge(KSFile, DegreeFile): 
    df = pd.read_csv(DegreeFile)
    df1 = df[["label", "indegree", "outdegree", "degree"]]
    df1.columns = ['Username', 'indegree', 'outdegree', 'degree']
    dff = pd.read_csv(KSFile)
    dff1 = dff[["Username", "Klout Score"]]
    result = pd.merge(df1, dff1, how='inner', on=['Username'])
    result.to_csv("PostGeoMerge.csv")

In [8]:
to_merge('/Users/dharanisethuram/SamplePro/Statistics/Post_Data_Geo.csv', 'During_Geo.csv')

In [9]:
df1  = pd.read_csv("DuringGeoMerge.csv")

In [10]:
df1[0:5]

   Unnamed: 0         Username  indegree  outdegree  degree  Klout Score
0           0          PEART10         0          2       2         40.0
1           1          PEART10         0          2       2         40.0
2           2          PEART10         0          2       2         42.0
3           3    LuceroReyes02         0          1       1         36.0
4           4  thatjew_bastard         0          1       1         40.0