In [224]:
pwd

'/Users/dharanisethuram/SamplePro'

In [225]:
import numpy as np
import pandas as pd

In [226]:
df = pd.read_csv('sandy_geo_sample200k.csv')

In [227]:
df.describe()

         Klout Score  Retweet Count  Friends Count  Followers Count
count  200000.000000       200000.0  200000.000000     2.000000e+05
mean       37.707585            0.0     420.328480     8.476314e+02
std        10.881198            0.0    1315.578409     2.783686e+04
min         0.000000            0.0       0.000000     0.000000e+00
25%        34.000000            0.0     133.000000     1.060000e+02
50%        40.000000            0.0     241.000000     2.180000e+02
75%        43.000000            0.0     432.000000     4.020000e+02
max        90.000000            0.0  205980.000000     9.073068e+06

In [228]:
d = df[['Username','Mentions']]

In [229]:
d.to_csv("User_Ment.csv")

In [230]:
ls -lrt

total 130880
-rw-r--r--  1 dharanisethuram  staff  33603196 Aug 21 22:39 sandy_kw_sample200k.csv
-rw-r--r--@ 1 dharanisethuram  staff  27877525 Aug 21 22:39 sandy_geo_sample200k.csv
-rw-r--r--  1 dharanisethuram  staff     36292 Sep 12 09:22 geo_mention_dh.ipynb
-rw-r--r--@ 1 dharanisethuram  staff       285 Sep 12 09:22 cleanUser_Ment.csv
-rw-r--r--  1 dharanisethuram  staff   5482182 Sep 12 09:23 User_Ment.csv

In [231]:
df=pd.read_csv("User_Ment.csv")

In [232]:
df[0:10]

   Unnamed: 0        Username                           Mentions
0           0      C_lorennxx                   Live_Strong_30,
1           1  iSlapThirsties                                NaN
2           2  JACK_in_ur_box  wrath_of_rathje, TUCK_U_2_SLEEP,
3           3         KseniaL                                NaN
4           4  andrew_dangelo                                NaN
5           5     clalicata17                                NaN
6           6       shann_mc3                                NaN
7           7   caffeinehusky                                NaN
8           8         RDietz5                                NaN
9           9      RodneyWren                                NaN

In [233]:
rno=df.count
print (rno)

<bound method DataFrame.count of         Unnamed: 0         Username  \
0                0       C_lorennxx
1                1   iSlapThirsties
2                2   JACK_in_ur_box
3                3          KseniaL
4                4   andrew_dangelo
5                5      clalicata17
6                6        shann_mc3
7                7    caffeinehusky
8                8          RDietz5
9                9       RodneyWren
10              10      torilussier
11              11   intercomithaca
12              12         gabbbiee
13              13   MuzikGenius101
14              14     lorisqcwyost
15              15      AyoooooMont
16              16    laurencasale_
17              17        BabetteKD
18              18   primerAngolano
19              19        sammie_ce
20              20           orbiqa
21              21        LalaMada1
22              22  shakiadnphoenix
23              23         FilPalma
24              24     abvanderziel
25              25    Martijfree304
26              26           GCoss5
27              27      Asap_Mamba_
28              28        nirhalegi
29              29   kathrynminer15
...            ...              ...
199970      199970          Cwalks3
199971      199971        DjCrysis_
199972      199972            Kuret
199973      199973  Gosssh_MsMonroe
199974      199974       linseyface
199975      199975   SHAATthefckup_
199976      199976         Azskyman
199977      199977     katyperreira
199978      199978      dslmichelle
199979      199979      RayEllisIII
199980      199980       emilyholtt
199981      199981      KevinApollo
199982      199982      Hi_im_MARTI
199983      199983        leelee717
199984      199984     soccer131415
199985      199985  chuckieFinster_
199986      199986          DDougyy
199987      199987           ejosec
199988      199988        G_Sinn732
199989      199989    thereal_higgy
199990      199990     KatieLynn218
199991      199991      Chef_Dolenk
199992      199992     virgilboykin
199993      199993       iEarlyRoss
199994      199994         Emjola33
199995      199995         rhondieu
199996      199996   HartsoughnNate
199997      199997      PaulMRabell
199998      199998      Billymack13
199999      199999    RyGuy_FlyHigh

                                                 Mentions
0                                        Live_Strong_30,
1                                                     NaN
2                       wrath_of_rathje, TUCK_U_2_SLEEP,
3                                                     NaN
4                                                     NaN
5                                                     NaN
6                                                     NaN
7                                                     NaN
8                                                     NaN
9                                                     NaN
10                          nclemens_02, OhMyDarling118,
11                                                    NaN
12                                         nicki3diesel,
13                                                    NaN
14                                                    NaN
15                              KendrickLaamar, JColeNC,
16                                      JessicaNieberg1,
17                                                    NaN
18                                                    NaN
19                                             GodPosts,
20                                           Lukaymusic,
21                                                    NaN
22                                                    NaN
23                                                    NaN
24                                                    NaN
25                                                    NaN
26                            DJ_RJCoia, Chris_Lansdown,
27                                              BWebb32,
28      toritoosalzman, roseleemcrbarbo, melanisiwalto...
29                                               tumblr,
...                                                   ...
199970                                   keepingitriehl,
199971                                                NaN
199972                                                NaN
199973                                                NaN
199974                                                NaN
199975                  Keira_ModelSize, SHAATthefckup_,
199976                                                NaN
199977                          nanderoni, katyperreira,
199978                                      gabbygrass0,
199979                                                NaN
199980                                                NaN
199981                                                NaN
199982                                                NaN
199983                                                NaN
199984                     exoh_kaylie, MajewskiMelissa,
199985                                                NaN
199986                                         timjoyce,
199987                                      TRAVel_chnl,
199988                                                NaN
199989                                      ANDscREWyou,
199990                                                NaN
199991                                                NaN
199992                                      mmorales0_o,
199993                                     theycallmeBK,
199994                                                NaN
199995                                                NaN
199996                                      hollyydiana,
199997                                                NaN
199998                                                NaN
199999                                                NaN

[200000 rows x 3 columns]>

In [234]:

d=df.dropna()

In [235]:
d[0:10]

    Unnamed: 0        Username                           Mentions
0            0      C_lorennxx                   Live_Strong_30,
2            2  JACK_in_ur_box  wrath_of_rathje, TUCK_U_2_SLEEP,
10          10     torilussier      nclemens_02, OhMyDarling118,
12          12        gabbbiee                     nicki3diesel,
15          15     AyoooooMont          KendrickLaamar, JColeNC,
16          16   laurencasale_                  JessicaNieberg1,
19          19       sammie_ce                         GodPosts,
20          20          orbiqa                       Lukaymusic,
26          26          GCoss5        DJ_RJCoia, Chris_Lansdown,
27          27     Asap_Mamba_                          BWebb32,

In [236]:
rno=d.count

In [292]:
print (rno)

<bound method DataFrame.count of         Unnamed: 0         Username  \
0                0       C_lorennxx
2                2   JACK_in_ur_box
10              10      torilussier
12              12         gabbbiee
15              15      AyoooooMont
16              16    laurencasale_
19              19        sammie_ce
20              20           orbiqa
26              26           GCoss5
27              27      Asap_Mamba_
28              28        nirhalegi
29              29   kathrynminer15
31              31       johnwehler
33              33   ItchinForPaper
37              37  one_spicy_nacho
40              40         skinsken
44              44      __Moochieee
46              46           jonvox
49              49        neilvogel
52              52     christiannnh
53              53  StopTwatchin215
58              58        robgchill
59              59       Corey12551
65              65  SanabriaLizbeth
66              66   SeanTaylorNice
68              68    Young_Boss501
70              70     davehalikman
76              76       kristaa424
79              79       vargasteph
81              81    sports_247365
...            ...              ...
199932      199932          GCN7897
199933      199933         ZOBright
199934      199934      AshMissLady
199937      199937   Pink_KittyGang
199938      199938  AlyssaEntrialgo
199939      199939  DanielleMessere
199942      199942   Matt_doubleyou
199943      199943      islandboi_B
199945      199945       mmstrength
199951      199951        Team3rvin
199956      199956          TDevz34
199957      199957      nick9shirey
199958      199958  jillianhalloran
199959      199959     aehdeschaine
199960      199960      BenGrajeda1
199963      199963   ismaelgomez921
199964      199964      J23Johnson_
199967      199967  Ivalease_Taina_
199968      199968     craigbeacham
199970      199970          Cwalks3
199975      199975   SHAATthefckup_
199977      199977     katyperreira
199978      199978      dslmichelle
199984      199984     soccer131415
199986      199986          DDougyy
199987      199987           ejosec
199989      199989    thereal_higgy
199992      199992     virgilboykin
199993      199993       iEarlyRoss
199996      199996   HartsoughnNate

                                                 Mentions
0                                        Live_Strong_30,
2                       wrath_of_rathje, TUCK_U_2_SLEEP,
10                          nclemens_02, OhMyDarling118,
12                                         nicki3diesel,
15                              KendrickLaamar, JColeNC,
16                                      JessicaNieberg1,
19                                             GodPosts,
20                                           Lukaymusic,
26                            DJ_RJCoia, Chris_Lansdown,
27                                              BWebb32,
28      toritoosalzman, roseleemcrbarbo, melanisiwalto...
29                                               tumblr,
31                                           brynardone,
33                                bdeabreu27, nikiDxoxo,
37                                            LaCreme_x,
40                                         scottlinn980,
44                                              bhritcv,
46                                              chrsphr,
49                                        MikeBloomberg,
52                                        sarahlawton13,
53                                          Sophia_Fury,
58                                        Bakes_Jamie13,
59                                      CarolineLFerrer,
65                                           ItsNi_thoo,
66                                        HardInTheYard,
68                                        LiveLoveYoshi,
70                                          domcarusone,
76                                          kid_polansk,
79                                             kenzwall,
81                                                  HBO,
...                                                   ...
199932                                  ScalpEmOfficial,
199933                          lexiilyn, victoriaohh95,
199934                                      Supah_Bonez,
199937                                       IAMterre96,
199938                                   K_Antonacci_09,
199939                                      Reckless_x3,
199942  Nick_Authier, jtjezierski, HessEthan, gregbiro...
199943                                     VuittonGunnz,
199945                                       SpartanB2D,
199951                                    RavonWilliams,
199956                                        dani_trap,
199957                                  beckynesterwitz,
199958                                         MinaIto2,
199959                                      khinckley29,
199960  braunfitness, Bakerelle, Foreverfit4u, FigureR...
199963                                   weatherchannel,
199964                              Jovy_T, J23Johnson_,
199967                                     Jesiree_xoxo,
199968                   Vahos10, Baby_Jordan_23, BGil8,
199970                                   keepingitriehl,
199975                  Keira_ModelSize, SHAATthefckup_,
199977                          nanderoni, katyperreira,
199978                                      gabbygrass0,
199984                     exoh_kaylie, MajewskiMelissa,
199986                                         timjoyce,
199987                                      TRAVel_chnl,
199989                                      ANDscREWyou,
199992                                      mmorales0_o,
199993                                     theycallmeBK,
199996                                      hollyydiana,

[84401 rows x 3 columns]>

In [238]:
d.to_csv("cleanUser_Ment.csv")

In [239]:
df = pd.read_csv("cleanUser_Ment.csv")

In [240]:
df.describe()

          Unnamed: 0   Unnamed: 0.1
count   84401.000000   84401.000000
mean   100075.304902  100075.304902
std     57673.812646   57673.812646
min         0.000000       0.000000
25%     50377.000000   50377.000000
50%    100083.000000  100083.000000
75%    150032.000000  150032.000000
max    199996.000000  199996.000000

In [291]:
#print(df.count)
d = df[0:10]
print (d)

   Unnamed: 0  Unnamed: 0.1        Username                           Mentions
0           0             0      C_lorennxx                   Live_Strong_30,
1           2             2  JACK_in_ur_box  wrath_of_rathje, TUCK_U_2_SLEEP,
2          10            10     torilussier      nclemens_02, OhMyDarling118,
3          12            12        gabbbiee                     nicki3diesel,
4          15            15     AyoooooMont          KendrickLaamar, JColeNC,
5          16            16   laurencasale_                  JessicaNieberg1,
6          19            19       sammie_ce                         GodPosts,
7          20            20          orbiqa                       Lukaymusic,
8          26            26          GCoss5        DJ_RJCoia, Chris_Lansdown,
9          27            27     Asap_Mamba_                          BWebb32,

In [276]:
du = d['Username']
#print(du)

arr = [100] #adjust to needed 
x = []
for row in du:
    x.append(row)
print (x)

['C_lorennxx', 'JACK_in_ur_box', 'torilussier', 'gabbbiee', 'AyoooooMont', 'laurencasale_', 'sammie_ce', 'orbiqa', 'GCoss5', 'Asap_Mamba_']

In [243]:
dm = df['Mentions']
m=dm[0:10]
print(m)
#arr[100]
x = []
for row in m:
   x.append(row)
print(x)

print (x[2])
y = x[2]
print(y1)

y1=y.split(",")
print(y1[1])

0                     Live_Strong_30,
1    wrath_of_rathje, TUCK_U_2_SLEEP,
2        nclemens_02, OhMyDarling118,
3                       nicki3diesel,
4            KendrickLaamar, JColeNC,
5                    JessicaNieberg1,
6                           GodPosts,
7                         Lukaymusic,
8          DJ_RJCoia, Chris_Lansdown,
9                            BWebb32,
Name: Mentions, dtype: object
['Live_Strong_30, ', 'wrath_of_rathje, TUCK_U_2_SLEEP, ', 'nclemens_02, OhMyDarling118, ', 'nicki3diesel, ', 'KendrickLaamar, JColeNC, ', 'JessicaNieberg1, ', 'GodPosts, ', 'Lukaymusic, ', 'DJ_RJCoia, Chris_Lansdown, ', 'BWebb32, ']
nclemens_02, OhMyDarling118,
nan
 OhMyDarling118

In [244]:
# not needed

print(x)
inlist=[]
y=x[2]
y1=x[1]
inlist.append(y)
inlist.insert(0,y1)
inlist
#x[2]

['Live_Strong_30, ', 'wrath_of_rathje, TUCK_U_2_SLEEP, ', 'nclemens_02, OhMyDarling118, ', 'nicki3diesel, ', 'KendrickLaamar, JColeNC, ', 'JessicaNieberg1, ', 'GodPosts, ', 'Lukaymusic, ', 'DJ_RJCoia, Chris_Lansdown, ', 'BWebb32, ']

['wrath_of_rathje, TUCK_U_2_SLEEP, ', 'nclemens_02, OhMyDarling118, ']

In [271]:
# Needed, Important

ment_list=[]

for i in x:
    y = i.split(",")
    z=[]
    for j in y:
        if j!=' ':
           z.append(j)
        
        
    ment_list.append(z)

ment_list

[['Live_Strong_30'],
 ['wrath_of_rathje', ' TUCK_U_2_SLEEP'],
 ['nclemens_02', ' OhMyDarling118'],
 ['nicki3diesel'],
 ['KendrickLaamar', ' JColeNC'],
 ['JessicaNieberg1'],
 ['GodPosts'],
 ['Lukaymusic'],
 ['DJ_RJCoia', ' Chris_Lansdown'],
 ['BWebb32']]

In [290]:
ment_list
x
conpair = []    
    
for j in ment_list:
    for i in x:
        if j == i:
            conpair.append(j)
            
            
conpair

[]

In [183]:
d->[a,b,c]
a->[x,y,z,d]

for each person in d ka mention:
   in that persons list: 
       is d there?????
       
       dictionsry[a]

SyntaxError: invalid syntax (<ipython-input-183-ba9ef043b85a>, line 1)

In [269]:
mydi = dict()
mydi['a']=12
mydi['a']=13
mydi
mydict={'U1':['M1','M3'], 'U2':'M2'}
mydict.items()

dict_items([('U1', ['M1', 'M3']), ('U2', 'M2')])