In [1]:
pwd

'/Users/dharanisethuram/SamplePro'

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('sandy_kw_sample200k.csv')

In [4]:
df.describe()

        Klout Score  Retweet Count  Friends Count  Followers Count
count  200000.00000       200000.0  200000.000000     2.000000e+05
mean       38.17505            0.0     795.898585     4.099970e+03
std        13.91088            0.0    4901.986697     7.235737e+04
min         0.00000            0.0       0.000000     0.000000e+00
25%        31.00000            0.0     117.000000     8.800000e+01
50%        40.00000            0.0     259.000000     2.340000e+02
75%        46.00000            0.0     586.000000     6.790000e+02
max        99.00000            0.0  989037.000000     8.137706e+06

In [5]:
d = df[['Username','Mentions']]

In [6]:
d.to_csv("keyUser_Ment.csv")

In [7]:
ls -lrt

total 172568
-rw-r--r--  1 dharanisethuram  staff  33603196 Aug 21 22:39 sandy_kw_sample200k.csv
-rw-r--r--@ 1 dharanisethuram  staff  27877525 Aug 21 22:39 sandy_geo_sample200k.csv
-rw-r--r--  1 dharanisethuram  staff   5482182 Sep 12 09:23 User_Ment.csv
-rw-r--r--@ 1 dharanisethuram  staff   3756462 Sep 12 09:24 cleanUser_Ment.csv
-rw-r--r--  1 dharanisethuram  staff     40001 Sep 12 19:09 geo_mention_dh.ipynb
-rw-r--r--  1 dharanisethuram  staff   5482182 Sep 12 23:32 clean.csv
-rw-r--r--  1 dharanisethuram  staff     24750 Sep 12 23:35 Dharani%27s+solution(1).ipynb
-rw-r--r--  1 dharanisethuram  staff     58954 Sep 13 00:00 compareTrial.ipynb
-rw-r--r--  1 dharanisethuram  staff   3829594 Sep 13 00:09 trial.csv
-rw-r--r--  1 dharanisethuram  staff      6402 Sep 14 23:24 trial.ipynb
-rw-r--r--  1 dharanisethuram  staff   3099950 Sep 14 23:52 campare.ipynb
-rw-r--r--  1 dharanisethuram  staff     40001 Sep 15 00:05 key_mention_dh.ipynb
-rw-r--r--  1 dharanisethuram  staff   5027859 Sep 15 00:06 keyUser_Ment.csv

In [8]:
df=pd.read_csv("keyUser_Ment.csv")

In [9]:
df[0:10]

   Unnamed: 0         Username         Mentions
0           0       BiasedGirl    GovChristie,
1           1      TheFoxyBoxy              NaN
2           2     ISEmanCometh              NaN
3           3         LesJack2              NaN
4           4  WonderfulWorldz              NaN
5           5          Leyregb  thecoolhunter,
6           6     chrissearles              NaN
7           7  DesertCharities              NaN
8           8     marina_rose5              NaN
9           9  Jonathan_Schwab              NaN

In [10]:
rno=df.count
print (rno)

<bound method DataFrame.count of         Unnamed: 0         Username                                 Mentions
0                0       BiasedGirl                            GovChristie,
1                1      TheFoxyBoxy                                      NaN
2                2     ISEmanCometh                                      NaN
3                3         LesJack2                                      NaN
4                4  WonderfulWorldz                                      NaN
5                5          Leyregb                          thecoolhunter,
6                6     chrissearles                                      NaN
7                7  DesertCharities                                      NaN
8                8     marina_rose5                                      NaN
9                9  Jonathan_Schwab                                      NaN
10              10      FaridiBilal                                      NaN
11              11          Isiahh_                                      NaN
12              12       zayn_bunny                            _michellelo,
13              13        overhearz                                      NaN
14              14      the1001news                                      NaN
15              15    undethebltarp                                  utbrp,
16              16        tmony2468                                      NaN
17              17     november2998              VinCastronovo, TheBiancaC,
18              18           SubEWL                             usairforce,
19              19        DBrown166                          mommamadeline,
20              20       OscarMahon                                      NaN
21              21    GRACE_Bowen11                         ThatGuy_Warren,
22              22       RobinFrees                                      NaN
23              23    AndrewJaffrey                                    smh,
24              24  JackyFromJersey                                      NaN
25              25      laceyjmeeks                            GovChristie,
26              26    DiggyPinkLips                                      NaN
27              27     Marley_Sheen                             CherryTopp,
28              28             Y105                                      NaN
29              29          supzoey                                      NaN
...            ...              ...                                      ...
199970      199970   Bambuser_Alert                                      NaN
199971      199971   RichardColsonB                                      NaN
199972      199972      marnibstein                            wamu885news,
199973      199973        LaLadotGh                                      NaN
199974      199974    ThatGirlKalii                                      NaN
199975      199975  JackScoutmobNYC                                      NaN
199976      199976     GibbsDaTruth                                      NaN
199977      199977    apellegrino10                gayle_bart, emily_tello,
199978      199978  diabetes_trials                                      NaN
199979      199979          VenosaX                            mandiitruds,
199980      199980  tyler11williams                         ToriLovesTrace,
199981      199981        Jombies10                           bgillespie10,
199982      199982    lovemyself914                                      NaN
199983      199983  WhitewaterAxiom                                      NaN
199984      199984  TatianaSpeaking                                      NaN
199985      199985         deegrand                              Gothamist,
199986      199986    Comedyrefugee                                      NaN
199987      199987     AntoniaWhite                             kearyhanan,
199988      199988        Jacksfire                                      NaN
199989      199989   Sandydestroy12                                      NaN
199990      199990        DrJAshton                                      NaN
199991      199991      chadimoglou  weatherchannel, 54th, KiirstinMarilyn,
199992      199992        SCurcio32                                      NaN
199993      199993     gatdamn_traw                                      NaN
199994      199994   vallejomondher                                      NaN
199995      199995       KimLoves1D                                      NaN
199996      199996       inarsfansk                                      NaN
199997      199997  StartupSpiritma                                      NaN
199998      199998     SharonMariee        wwwbigbaldhead, WalkingDead_AMC,
199999      199999          Jmoda34                                      NaN

[200000 rows x 3 columns]>

In [11]:

d=df.dropna()

In [12]:
d[0:10]

    Unnamed: 0       Username                     Mentions
0            0     BiasedGirl                GovChristie,
5            5        Leyregb              thecoolhunter,
12          12     zayn_bunny                _michellelo,
15          15  undethebltarp                      utbrp,
17          17   november2998  VinCastronovo, TheBiancaC,
18          18         SubEWL                 usairforce,
19          19      DBrown166              mommamadeline,
21          21  GRACE_Bowen11             ThatGuy_Warren,
23          23  AndrewJaffrey                        smh,
25          25    laceyjmeeks                GovChristie,

In [13]:
rno=d.count

In [14]:
print (rno)

<bound method DataFrame.count of         Unnamed: 0         Username  \
0                0       BiasedGirl
5                5          Leyregb
12              12       zayn_bunny
15              15    undethebltarp
17              17     november2998
18              18           SubEWL
19              19        DBrown166
21              21    GRACE_Bowen11
23              23    AndrewJaffrey
25              25      laceyjmeeks
27              27     Marley_Sheen
30              30    AndyShipsides
31              31    corinnesmith_
38              38      jackmehoff1
39              39         mamazeke
44              44        Eph320MFW
45              45      MasterChefP
48              48     cindyscott54
55              55       CoryBooker
62              62       DJSAMMIEC1
63              63        jonnyrt86
67              67  sheribermanFTSK
72              72        KateMansi
74              74          XOSimmy
77              77       lomartin33
91              91          alexqgb
93              93          B3llaB_
98              98  openmindsrgreat
104            104  cassandralynn95
105            105   BrocktheGreat1
...            ...              ...
199882      199882   Johngroot5ever
199883      199883      tiffany_mae
199885      199885  rebeccalfwright
199889      199889       Ryn_writes
199898      199898      3DHobbyShop
199899      199899      TimCeresano
199906      199906  ScottFilmCritic
199910      199910        ohmyerica
199914      199914       kuulbreeze
199917      199917      unecrivaine
199920      199920   thelaxbabelife
199924      199924      daledixon82
199930      199930   Enric0Pallazz0
199934      199934        Fivefeet0
199937      199937          jesuszm
199947      199947         xBigTigx
199950      199950        LolCrunch
199955      199955    TheChrisNoble
199957      199957     dawnzimmernj
199960      199960    MLInnovations
199967      199967       Jon_Corral
199972      199972      marnibstein
199977      199977    apellegrino10
199979      199979          VenosaX
199980      199980  tyler11williams
199981      199981        Jombies10
199985      199985         deegrand
199987      199987     AntoniaWhite
199991      199991      chadimoglou
199998      199998     SharonMariee

                                                 Mentions
0                                           GovChristie,
5                                         thecoolhunter,
12                                          _michellelo,
15                                                utbrp,
17                            VinCastronovo, TheBiancaC,
18                                           usairforce,
19                                        mommamadeline,
21                                       ThatGuy_Warren,
23                                                  smh,
25                                          GovChristie,
27                                           CherryTopp,
30                                             abelcine,
31                                           denniloren,
38                                                JCP_L,
39                                   NJ_TRANSIT, PANYNJ,
44                             KillerKW, chrisjonesfoto,
45                                 Pusha_TeeWat, hoeFOH,
48                                            wxgarrett,
55                                          b4evajoyful,
62                               JAMN945, twc_hurricane,
63                                             Breakcom,
67                            GonzalezAngelaE, BuzzFeed,
72                                                  nbc,
74                                            asvpxcece,
77                                          KarlBarthJr,
91                                             nycarecs,
93                                            Norgasm__,
98                                           CoryBooker,
104                                       mollyolivia15,
105                                        OmarKaddurah,
...                                                   ...
199882                                        ndfanchaz,
199883                                       stuartenyt,
199885                           coldfashion, ConEdison,
199889                                      bangkokdave,
199898                                      3DHobbyShop,
199899                              PSEGNews, PSEGcares,
199906                                  MNightShyamalan,
199910                                         BuzzFeed,
199914                              YouTube, Ballerz521,
199917                                        nvanessie,
199920                                      thelaxwhore,
199924                                          BMo2001,
199930                                     jessespector,
199934                                   HuffingtonPost,
199937                                              TMZ,
199947                                     thecoopertom,
199950                                         thatdrew,
199955                                    jackwhitehall,
199957  HobokenGirlBlog, CityofHoboken, HobokenPatch, ...
199960                                    MitzvahCircle,
199967                    kianakonders, Oliviaaaadamato,
199972                                      wamu885news,
199977                          gayle_bart, emily_tello,
199979                                      mandiitruds,
199980                                   ToriLovesTrace,
199981                                     bgillespie10,
199985                                        Gothamist,
199987                                       kearyhanan,
199991            weatherchannel, 54th, KiirstinMarilyn,
199998                  wwwbigbaldhead, WalkingDead_AMC,

[62013 rows x 3 columns]>

In [15]:
d.to_csv("keycleanUser_Ment.csv")

In [16]:
df = pd.read_csv("keycleanUser_Ment.csv")

In [17]:
df.describe()

          Unnamed: 0   Unnamed: 0.1
count   62013.000000   62013.000000
mean    99920.700708   99920.700708
std     57636.344882   57636.344882
min         0.000000       0.000000
25%     49941.000000   49941.000000
50%     99985.000000   99985.000000
75%    149504.000000  149504.000000
max    199998.000000  199998.000000

In [18]:
#print(df.count)
d = df[0:10]
print (d)

   Unnamed: 0  Unnamed: 0.1       Username                     Mentions
0           0             0     BiasedGirl                GovChristie,
1           5             5        Leyregb              thecoolhunter,
2          12            12     zayn_bunny                _michellelo,
3          15            15  undethebltarp                      utbrp,
4          17            17   november2998  VinCastronovo, TheBiancaC,
5          18            18         SubEWL                 usairforce,
6          19            19      DBrown166              mommamadeline,
7          21            21  GRACE_Bowen11             ThatGuy_Warren,
8          23            23  AndrewJaffrey                        smh,
9          25            25    laceyjmeeks                GovChristie,

In [19]:
du = d['Username']
#print(du)

arr = [100] #adjust to needed 
x = []
for row in du:
    x.append(row)
print (x)

['BiasedGirl', 'Leyregb', 'zayn_bunny', 'undethebltarp', 'november2998', 'SubEWL', 'DBrown166', 'GRACE_Bowen11', 'AndrewJaffrey', 'laceyjmeeks']

In [20]:
dm = df['Mentions']
m=dm[0:10]
print(m)
#arr[100]
x = []
for row in m:
   x.append(row)
print(x)

print (x[2])
y = x[2]
print(y1)

y1=y.split(",")
print(y1[1])

0                  GovChristie,
1                thecoolhunter,
2                  _michellelo,
3                        utbrp,
4    VinCastronovo, TheBiancaC,
5                   usairforce,
6                mommamadeline,
7               ThatGuy_Warren,
8                          smh,
9                  GovChristie,
Name: Mentions, dtype: object
['GovChristie, ', 'thecoolhunter, ', '_michellelo, ', 'utbrp, ', 'VinCastronovo, TheBiancaC, ', 'usairforce, ', 'mommamadeline, ', 'ThatGuy_Warren, ', 'smh, ', 'GovChristie, ']
_michellelo,

NameError: name 'y1' is not defined

In [21]:
# not needed

print(x)
inlist=[]
y=x[2]
y1=x[1]
inlist.append(y)
inlist.insert(0,y1)
inlist
#x[2]

['GovChristie, ', 'thecoolhunter, ', '_michellelo, ', 'utbrp, ', 'VinCastronovo, TheBiancaC, ', 'usairforce, ', 'mommamadeline, ', 'ThatGuy_Warren, ', 'smh, ', 'GovChristie, ']

['thecoolhunter, ', '_michellelo, ']

In [22]:
# Needed, Important

ment_list=[]

for i in x:
    y = i.split(",")
    z=[]
    for j in y:
        if j!=' ':
           z.append(j)
        
        
    ment_list.append(z)

ment_list

[['GovChristie'],
 ['thecoolhunter'],
 ['_michellelo'],
 ['utbrp'],
 ['VinCastronovo', ' TheBiancaC'],
 ['usairforce'],
 ['mommamadeline'],
 ['ThatGuy_Warren'],
 ['smh'],
 ['GovChristie']]

In [23]:
ment_list
x
conpair = []    
    
for j in ment_list:
    for i in x:
        if j == i:
            conpair.append(j)
            
            
conpair

[]

In [24]:
d->[a,b,c]
a->[x,y,z,d]

for each person in d ka mention:
   in that persons list: 
       is d there?????
       
       dictionsry[a]

SyntaxError: invalid syntax (<ipython-input-24-ba9ef043b85a>, line 1)

In [25]:
mydi = dict()
mydi['a']=12
mydi['a']=13
mydi
mydict={'U1':['M1','M3'], 'U2':'M2'}
mydict.items()

dict_items([('U1', ['M1', 'M3']), ('U2', 'M2')])