In [33]:
pwd

'/Users/dharanisethuram/SamplePro/AdvConversation'

In [34]:
import numpy as np
import pandas as pd

In [51]:
dfg = pd.read_csv('sandy_geo_sample200k.csv')
dfk = pd.read_csv('sandy_kw_sample200k.csv')

In [52]:
dfk.describe()

        Klout Score  Retweet Count  Friends Count  Followers Count
count  200000.00000       200000.0  200000.000000     2.000000e+05
mean       38.17505            0.0     795.898585     4.099970e+03
std        13.91088            0.0    4901.986697     7.235737e+04
min         0.00000            0.0       0.000000     0.000000e+00
25%        31.00000            0.0     117.000000     8.800000e+01
50%        40.00000            0.0     259.000000     2.340000e+02
75%        46.00000            0.0     586.000000     6.790000e+02
max        99.00000            0.0  989037.000000     8.137706e+06

In [53]:
d = dfg.Username.unique()

In [54]:
print(d)
d.size

['C_lorennxx' 'iSlapThirsties' 'JACK_in_ur_box' ..., 'Azskyman'
 'soccer131415' 'rhondieu']

70504

In [55]:
d = dfk.Username.unique()
print(d)
d.size

['BiasedGirl' 'TheFoxyBoxy' 'ISEmanCometh' ..., 'inarsfansk' 'SharonMariee'
 'Jmoda34']

174616