In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('sandy_geo_sample200k.csv')

In [3]:
df[0:1]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
0,‚ú© *Beavis*‚ú©,C_lorennxx,@Live_Strong_30 : /,2012-10-26 21:47:13-04:00,50,0,365,387,"Live_Strong_30,"

In [4]:
df_pre = df.loc[df["Post Time - EST"]<='2012-10-29 00:00:00']

In [5]:
df_pre[0:50]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
0,‚ú© *Beavis*‚ú©,C_lorennxx,@Live_Strong_30 : /,2012-10-26 21:47:13-04:00,50,0,365,387,"Live_Strong_30,"
2,john murphy,JACK_in_ur_box,@wrath_of_rathje @TUCK_U_2_SLEEP sacred heart?...,2012-10-22 20:43:59-04:00,46,0,334,347,"wrath_of_rathje, TUCK_U_2_SLEEP,"
4,Andrew D'Angelo,andrew_dangelo,"""Yeah I'm pretty sure they pick the names of h...",2012-10-28 19:40:17-04:00,42,0,209,231,NaN
6,shannon mclaughlin ‚úå,shann_mc3,Getting out early tomorrow &gt;&gt;,2012-10-25 20:56:18-04:00,34,0,156,241,NaN
9,Rodney Wren,RodneyWren,"Preparing for Hurricane Sandy. Milk, Bread, Fr...",2012-10-25 23:16:02-04:00,52,0,452,525,NaN
10,Tori Lussier,torilussier,"@nclemens_02 @ohmydarling118 UH, RUDE.",2012-10-24 19:16:41-04:00,38,0,413,351,"nclemens_02, OhMyDarling118,"
11,Ithaca,intercomithaca,Office Of Marketing Communications To Hold Con...,2012-10-26 12:04:28-04:00,35,0,247,378,NaN
13,A. LOWE,MuzikGenius101,"Never settle, always go for bigger &amp; bette...",2012-10-25 11:24:36-04:00,35,0,881,467,NaN
14,loris yost,lorisqcwyost,#BestLivePerformers ooo ‚Ä¶I‚Äôm certain that is c...,2012-10-27 01:25:03-04:00,11,0,11,1,NaN
15,eine s√ºdliche gent,AyoooooMont,I need @KendrickLaamar and @JColeNC to do a tr...,2012-10-24 16:35:56-04:00,41,0,309,171,"KendrickLaamar, JColeNC,"
18,M A,primerAngolano,Of course everyone &amp; their great-grandmoth...,2012-10-28 09:13:05-04:00,33,0,419,291,NaN
23,Filipe Palma,FilPalma,"deff skipping spanish, this project is more im...",2012-10-22 08:51:38-04:00,41,0,266,208,NaN
24,a‚Ñìaina brie‚Ñì‚Ñìe,abvanderziel,#ToMyFutureChildren you will have light skin #...,2012-10-28 22:21:04-04:00,40,0,617,748,NaN
25,Loving my fab5,Martijfree304,Pray for baltimore hurricane sandy is heading ...,2012-10-26 16:38:04-04:00,20,0,116,24,NaN
32,The Red Knight,hoswell_Mufc,Hurricane Sandy reaches Jamaica Lawd protect a...,2012-10-24 23:08:01-04:00,47,0,1395,1281,NaN
35,Ragan . ‚ô•,RaganErricca_,I don't have time for Hurricane Sandy ! I have...,2012-10-26 15:15:25-04:00,38,0,533,548,NaN
36,Metin,metink5,Most projections have Hurricane Sandy heading ...,2012-10-26 06:50:37-04:00,36,0,96,67,NaN
37,One Spicy Nacho,one_spicy_nacho,@LaCreme_x they need to realize people commute...,2012-10-28 17:08:01-04:00,43,0,660,532,"LaCreme_x,"
38,Lexie Curtis,curtis_lexi,If this hurricane sweeps me away with it &gt;&...,2012-10-26 16:27:06-04:00,34,0,95,66,NaN
40,ken obranovich,skinsken,@scottlinn980 right back at ya. Heading back t...,2012-10-26 08:04:37-04:00,12,0,14,5,"scottlinn980,"
44,‚ú®Moochie Mooh,__Moochieee,@bhritcv read my last RT . A hurricane .,2012-10-26 13:05:30-04:00,45,0,371,572,"bhritcv,"
45,Culinary Bad Boy,CulinaryBadBoy,Fresh @ Bryant Park http://t.co/yQgP9EZd,2012-10-23 20:13:35-04:00,44,0,187,14515,NaN
51,Ashleigh Laier,AshleighMarie31,"1st place Banner, 2nd place Float!!! @ Rowan U...",2012-10-27 16:17:01-04:00,11,0,18,8,NaN
52,Christian Harding,christiannnh,@sarahlawton13 I just might do that... Doesn't...,2012-10-22 19:09:22-04:00,43,0,183,192,"sarahlawton13,"
56,helikonia,h3lik0nia,Conga: the 6 lb fart hurricane,2012-10-25 23:31:36-04:00,45,0,370,137,NaN
57,Vincent Tran,VeeTee14,"I'm at Starbucks (Philadelphia, PA) http://t.c...",2012-10-26 15:28:29-04:00,31,0,60,35,NaN
58,rgaudreau,robgchill,@Bakes_Jamie13 Bakes Rob G here your old sha...,2012-10-27 07:26:47-04:00,19,0,86,13,"Bakes_Jamie13,"
59,Real Steele,Corey12551,@CarolineLFerrer why i am,2012-10-26 07:03:07-04:00,30,0,23,42,"CarolineLFerrer,"
61,Kellie C. Murphy,KCMJournalist,"""I'm pleased that you now agree with our polic...",2012-10-22 22:02:50-04:00,48,0,393,294,NaN
65,lizbeth :^),SanabriaLizbeth,@ItsNi_thoo wtf lol that's my girl . Idk bout ...,2012-10-25 22:54:30-04:00,41,0,62,67,"ItsNi_thoo,"
66,Turko,SeanTaylorNice,If somebody talks about this hurricane 1 more ...,2012-10-26 18:01:18-04:00,19,0,81,49,"HardInTheYard,"
67,LyZandra,LilMissClassyy,Aye conyo! I hate when my phone puts the wrong...,2012-10-28 09:58:37-04:00,44,0,247,390,NaN
68,NoCompetition‚Ñ¢‚ùå,Young_Boss501,@LiveLoveYoshi u already kno,2012-10-26 02:18:17-04:00,52,0,718,485,"LiveLoveYoshi,"
75,Alan Flynn Jr.,ThatGuy_AFlyy,"üèÉüí® Sandy comin, I'm gettin out of the coasta...",2012-10-26 11:25:02-04:00,45,0,1258,1562,NaN
76,Krista Lepore,kristaa424,@kid_polansk you love me compliment üòò http://...,2012-10-28 22:27:29-04:00,43,0,158,146,"kid_polansk,"
78,HCO BOUL ^____^,OB3Y_BOOKIE,Im really bout to be on some fuck a bitch shyt...,2012-10-24 10:00:36-04:00,41,0,376,478,NaN
80,Taylor,TayRob10,#Sandy is trying to screw up my wkend plans an...,2012-10-26 12:28:54-04:00,0,0,146,9,NaN
81,Darryl Williams,sports_247365,Boxing legendary trainer Emanuel Stewart died ...,2012-10-25 17:43:15-04:00,41,0,116,67,"HBO,"
86,Natalie K. Reinert,nataliegallops,check out the awesome car in the photo! Must b...,2012-10-26 12:52:36-04:00,47,0,1799,1378,"NYTMetro,"
87,Alexa Cholewa,alexaacho,@Cpt_Inshane_O miss you üíï date night over win...,2012-10-28 02:15:58-04:00,38,0,186,187,"Cpt_Inshane_O,"
88,Willow Brown (:,littlewb29,Cant see Cody this weekend. And I've said a wh...,2012-10-25 21:23:22-04:00,39,0,161,105,NaN
90,Andrew Herkalo,BigHerk106,@steponme084 because we would have never made ...,2012-10-25 21:38:11-04:00,26,0,46,25,"steponme084,"
92,Zack_Morrow_,Zack_Morrow_,üòû,2012-10-24 21:16:57-04:00,40,0,82,123,NaN
94,dani_clarkk,daniclarkk94,Definitely a good morning! #LoveThursdays,2012-10-25 08:36:00-04:00,40,0,231,197,NaN
96,Pablo Rodriguez IX,PabloBleedBlue3,Jesus I just received my credit card statement...,2012-10-26 14:22:05-04:00,42,0,353,126,NaN
97,Kamil Contreras,KamilContreras,"When they want you, you don't want them. When ...",2012-10-27 07:23:37-04:00,40,0,358,78,NaN
98,Kelsey Forgione,KelseyForgione,@emily_wood9 just letting u know know I hate m...,2012-10-28 07:13:49-04:00,38,0,202,208,"emily_wood9,"
100,Victoria Ficcadenti,ficcadentii,sunday = recovery day,2012-10-28 13:30:20-04:00,40,0,414,689,NaN
101,Courtney AMBER C.,courtbeauty22,Still up writin my new RESUME so I could type ...,2012-10-25 23:08:20-04:00,44,0,125,125,NaN
103,They All Scream K‚Ç¨‚Ç¨,Im_thtGurl_Kee,If I hear about hurricane Sandy one more time ...,2012-10-25 19:58:30-04:00,28,0,171,72,NaN

In [6]:
len(df_pre.index)
#len(df.index)

87698

In [123]:
df_during = df.loc[(df["Post Time - EST"]>='2012-10-29 00:00:00') & (df["Post Time - EST"]<='2012-11-01 00:00:00') ]

In [124]:
df_during[0:5]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
8,rachel dietz,RDietz5,Wow bad move my friend.,2012-10-31 13:48:07-04:00,41,0,139,138,NaN
21,Madalena,LalaMada1,Good night my lovely tweeters! :),2012-10-29 23:04:01-04:00,32,0,32,44,NaN
28,Kenzie Westmoreland,nirhalegi,#LoQueHubieraTuiteadoDeNi√±o eat much love.. @t...,2012-10-30 01:49:22-04:00,0,0,0,0,"toritoosalzman, roseleemcrbarbo, melanisiwalto..."
42,Yulissaa ‚ô•,yulieee3,I hate the fact that im going through the same...,2012-10-29 12:16:16-04:00,40,0,169,180,NaN
46,jonathan,jonvox,@chrsphr it's hard to consider floods that bre...,2012-10-30 05:06:26-04:00,58,0,184,1064,"chrsphr,"

In [125]:
len(df_during.index)

37336

In [29]:
df_post = df.loc[df["Post Time - EST"]>='2012-11-01 00:00:00' ]

In [30]:
df_post[0:10]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
1,Lebron's Barber‚Ñ¢,iSlapThirsties,"I'm attentive , my opinion is monumental . I'm...",2012-11-05 16:15:50-05:00,57,0,1908,3698,NaN
3,Ksenia,KseniaL,I totally saw them first. @ DSW Designer Shoe...,2012-11-04 14:34:22-05:00,54,0,593,705,NaN
5,Chris LaLicata,clalicata17,Price is right is on at the gym... Score,2012-11-07 11:29:03-05:00,27,0,313,100,NaN
7,Ginnette,caffeinehusky,"I'm at rebalance (Cambridge, MA) http://t.co/t...",2012-11-03 14:58:03-04:00,56,0,2851,2666,NaN
12,GG,gabbbiee,@nicki3diesel yeah man it really sucks its crazy,2012-11-03 18:55:17-04:00,44,0,157,263,"nicki3diesel,"
16,laurencasale,laurencasale_,@JessicaNieberg1 hate to ruin this lovely twee...,2012-11-06 23:19:43-05:00,0,0,121,66,"JessicaNieberg1,"
17,BabetteKD,BabetteKD,Three ALTEC tree trimming trucks and one LIPA ...,2012-11-07 07:40:28-05:00,59,0,359,271,NaN
19,Sam Clarke,sammie_ce,"""@GodPosts: Keep calm because.. http://t.co/Oo...",2012-11-05 20:59:33-05:00,39,0,144,65,"GodPosts,"
20,Morgun Searight,orbiqa,that guy is Amazing #LockedOutOfHeavenLUKAY !!...,2012-11-03 20:24:40-04:00,10,0,0,1,"Lukaymusic,"
22,shakia phoenix,shakiadnphoenix,#FootballAsAKid oot,2012-11-02 20:00:18-04:00,14,0,11,1,NaN

In [31]:
len(df_post.index)

74966

In [7]:
df_pre.to_csv("Pre_Data_Geo.csv")

In [126]:
df_during.to_csv("During_Data_Geo.csv")

In [129]:
df1 = pd.read_csv("During_Data_Geo.csv")
len(df1.index)

37347

In [34]:
df_post.to_csv("Post_Data_Geo.csv")

In [9]:
df_r = pd.read_csv("Pre_Data_Geo_1.csv")

/Users/dharanisethuram/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [79]:
dkw=pd.read_csv('sandy_kw_sample200k.csv')

In [80]:
dkw[0:1]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
0,BiasedGirl,BiasedGirl,RT @GovChristie: If conditions are not safe on...,2012-10-29 20:29:37-04:00,63,0,6522,10450,"GovChristie,"

In [84]:
dkw_pre = dkw.loc[dkw["Post Time - EST"]<='2012-10-29 00:00:00']

In [85]:
dkw_pre[0:3]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
2,Dan Rem-bare-all,ISEmanCometh,Just now is everyone else feeling how I do abo...,2012-10-26 07:08:23-04:00,40,0,66,196,NaN
4,Wonderful World,WonderfulWorldz,VIDEO: Hurricane Sandy bears down on US: Hurri...,2012-10-26 01:41:17-04:00,36,0,603,485,NaN
14,Ivan Egorov,the1001news,"Hurricane Sandy promises be a strong, costly s...",2012-10-27 13:46:30-04:00,40,0,494,1358,NaN

In [86]:
len(dkw_pre.index)

41932

In [87]:
dkw_during = dkw.loc[(dkw["Post Time - EST"]>='2012-10-29 00:00:00') & (dkw["Post Time - EST"]<='2012-11-01 00:00:00') ]

In [90]:
dkw_during[0:2]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
0,BiasedGirl,BiasedGirl,RT @GovChristie: If conditions are not safe on...,2012-10-29 20:29:37-04:00,63,0,6522,10450,"GovChristie,"
1,JM Boxer,TheFoxyBoxy,TCNJ Fall Break: We get two days off that we w...,2012-10-29 17:45:27-04:00,31,0,118,110,NaN

In [92]:
len(dkw_during.index)

113396

In [93]:
dkw_post = dkw.loc[dkw["Post Time - EST"]>='2012-11-01 00:00:00' ]

In [97]:
dkw_post[0:2]

,Author Name,Username,Tweet,Post Time - EST,Klout Score,Retweet Count,Friends Count,Followers Count,Mentions
7,DesertCharitiesNews,DesertCharities,Today Is Election Day - Don't Forget 2 Vote! W...,2012-11-06 11:55:04-05:00,48,0,8214,7558,NaN
9,Jonathan Schwab,Jonathan_Schwab,We're naming winter storms now? http://t.co/vh...,2012-11-07 10:29:46-05:00,30,0,135,67,NaN

In [98]:
len(dkw_post.index)

44672

In [99]:
dkw_pre.to_csv("Pre_Data_Key.csv")

In [100]:
dkw_during.to_csv("During_Data_Key.csv")

In [101]:
dkw_post.to_csv("Post_Data_Key.csv")